body {
    background-color: #14213D;
}

h1 {
    background-color: #FCA311;
    color: rgb(0, 0, 0);
    font-size: 48px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border: 5px solid #e5e5e5;
}

h2,
h3 {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

p {
    color: rgb(0, 0, 0);
    font-size: 16px;
}

img {
    width: 400px;
    height: 400px;
}

.container {
    background-color: #FCA311;
    text-align: center;
    border: 5px solid #e5e5e5;
    margin: 10px 30px;
}

.lasag,
.taco,
.burger {
    width: 100px;
    padding: 5px;
    margin: 0 200px;

    display: inline-block;
}

.img-cont {
    background-color: #313f5c;
    align-items: center;
    float: left;
    padding: 30px;
    margin: 5px 50px 0 55px;

}

.img-list {

    float: left;
    padding: 25px;
    margin: 0 50px;

}

/* RECIPE TABS */

.img-recipe {
    width: 680px;
    height: 460px;
    float: right;
}

.cont {
    background-color: #e5e5e5;
    color: black;
    width: fit-content;
}

.home {
    background-color: #FCA311;

    font-size: 24px;
}